:root {
  --color-neutral--100: #ccc;
  --color-neutral--700: #313131;
  --color-neutral--800: #1e1e1e;
  --color-neutral--900: #000;

  /* Use Case */
  --color-bg: var(--color-neutral--800);
  --color-text: var(--color-neutral--100);
}
